.h1 {
  font-size: 1.302vw;
  line-height: 1.510vw;
}

.h2 {
  font-size: 1.198vw;
  line-height: 1.354vw;
}

.h3 {
  font-size: 0.990vw;
  line-height: 1.146vw;
}

.h4 {
  font-size: 0.833vw;
  line-height: 0.990vw;
}

.h5 {
  font-size: 0.677vw;
  line-height: 0.833vw;
}

.h6 {
  font-size: 0.573vw;
  line-height: 0.729vw;
}

.logoCar {
  font-size: 13.021vw;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(201.33deg, #A4A4A4 -67.02%, rgba(166, 166, 166, 0.776042) -67%, rgba(164, 164, 164, 0) 100.51%, #00F0FF 100.51%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}